* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1abc9c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
  animation: changeGradient 4s infinite alternate;
  will-change: background;

}

.background-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.login-card {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 400px;
  text-align: center;
  color: #fff;
}

.header h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.header p {
  font-size: 14px;
  color: #ddd;
}

form {
  margin-top: 20px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 8px;
  background-color: rgba(255,255,255,0.1);
  color: #000000;
  font-size: 14px;
}

input::placeholder {
  color: #000000;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: rgba(76,159,254,0.8);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;

}

.login-btn:hover {
  background-color: rgb(47, 8, 73);
  color: white;
}

.additional-options {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 13px;
}

.additional-options a {
  text-decoration: none;
  color: #f3f3f3;
}

.divider {
  margin: 20px 0;
  color: #ddd;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons i {
  color: #f3f3f3;
  font-size: 24px;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  color: #ddd;
}

footer a {
  color: #ddd;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  color: #fff;
}

@keyframes changeGradient {
  0%{
      background: linear-gradient(45deg, rgba(0,119,255,0.8), rgba(255,0,128,0.8));
  }
  100% {
      background: linear-gradient(72deg, rgba(51,65,6,0.8), #1abc9c);
  }
}

@media (max-width:768px) {
  .login-card {
      padding: 20px 10px;
  }
}
